<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aicall.mapper.CcCallTaskMapper">
    
    <resultMap type="CcCallTask" id="CcCallTaskResult">
        <result property="batchId"    column="batch_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="batchName"    column="batch_name"    />
        <result property="ifcall"    column="ifcall"    />
        <result property="rate"    column="rate"    />
        <result property="threadNum"    column="thread_num"    />
        <result property="createtime"    column="createtime"    />
        <result property="executing"    column="executing"    />
        <result property="stopTime"    column="stop_time"    />
        <result property="userid"    column="userid"    />
        <result property="gatewayId"    column="gateway_id"    />
        <result property="taskType"    column="task_type"    />
        <result property="voiceCode"    column="voice_code"    />
        <result property="voiceSource"    column="voice_source"    />
        <result property="avgRingTimeLen"    column="avg_ring_time_len"    />
        <result property="avgCallTalkTimeLen"    column="avg_call_talk_time_len"    />
        <result property="avgCallEndProcessTimeLen"    column="avg_call_end_process_time_len"    />
        <result property="callNodeNo"    column="call_node_no"    />
        <result property="llmAccountId"    column="llm_account_id"    />
        <result property="playTimes"    column="play_times"    />
    </resultMap>

    <sql id="selectCcCallTaskVo">
        select batch_id, group_id, batch_name, ifcall, rate, thread_num, createtime, executing, stop_time, userid, task_type, gateway_id, voice_code, voice_source, avg_ring_time_len, avg_call_talk_time_len, avg_call_end_process_time_len, call_node_no, llm_account_id, play_times from cc_call_task
    </sql>

    <select id="selectCcCallTaskList" parameterType="CcCallTask" resultMap="CcCallTaskResult">
        <include refid="selectCcCallTaskVo"/>
        <where>  
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
            <if test="batchName != null  and batchName != ''"> and batch_name like concat('%', #{batchName}, '%')</if>
            <if test="ifcall != null "> and ifcall = #{ifcall}</if>
            <if test="taskType != null "> and task_type = #{taskType}</if>
            <if test="gatewayId != null "> and gateway_id = #{gatewayId}</if>
            <if test="voiceCode != null and voiceCode != ''"> and voice_code = #{voiceCode}</if>
            <if test="voiceSource != null and voiceSource != ''"> and voice_source = #{voiceSource}</if>
            <if test="llmAccountId != null"> and llm_account_id = #{llmAccountId}</if>
            <if test="params.createTimeStart != null and params.createTimeStart != ''"><!-- 开始时间检索 -->
                AND createtime &gt;= #{params.createTimeStart}
            </if>
            <if test="params.createTimeEnd != null and params.createTimeEnd != ''"><!-- 结束时间检索 -->
                AND createtime &lt;= #{params.createTimeEnd}
            </if>
            order by batch_id desc
        </where>
    </select>
    
    <select id="selectCcCallTaskByBatchId" parameterType="Long" resultMap="CcCallTaskResult">
        <include refid="selectCcCallTaskVo"/>
        where batch_id = #{batchId}
    </select>

    <insert id="insertCcCallTask" parameterType="CcCallTask" useGeneratedKeys="true" keyProperty="batchId">
        insert into cc_call_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            group_id,
            batch_name,
            ifcall,
            rate,
            thread_num,
            createtime,
            executing,
            stop_time,
            userid,
            task_type,
            gateway_id,
            voice_code,
            voice_source,
            avg_ring_time_len,
            avg_call_talk_time_len,
            avg_call_end_process_time_len,
            call_node_no,
            llm_account_id,
            play_times,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{groupId},
            #{batchName},
            #{ifcall},
            #{rate},
            #{threadNum},
            #{createtime},
            #{executing},
            #{stopTime},
            #{userid},
            #{taskType},
            #{gatewayId},
            #{voiceCode},
            #{voiceSource},
            #{avgRingTimeLen},
            #{avgCallTalkTimeLen},
            #{avgCallEndProcessTimeLen},
            #{callNodeNo},
            #{llmAccountId},
            #{playTimes},
        </trim>
    </insert>

    <update id="updateCcCallTask" parameterType="CcCallTask">
        update cc_call_task
        <trim prefix="SET" suffixOverrides=",">
            group_id = #{groupId},
            batch_name = #{batchName},
            ifcall = #{ifcall},
            rate = #{rate},
            thread_num = #{threadNum},
            createtime = #{createtime},
            executing = #{executing},
            stop_time = #{stopTime},
            userid = #{userid},
            gateway_id = #{gatewayId},
            task_type = #{taskType},
            voice_code = #{voiceCode},
            voice_source = #{voiceSource},
            avg_ring_time_len = #{avgRingTimeLen},
            avg_call_talk_time_len = #{avgCallTalkTimeLen},
            avg_call_end_process_time_len = #{avgCallEndProcessTimeLen},
            call_node_no = #{callNodeNo},
            llm_account_id = #{llmAccountId},
            play_times = #{playTimes},
        </trim>
        where batch_id = #{batchId}
    </update>

    <delete id="deleteCcCallTaskByBatchId" parameterType="Long">
        delete from cc_call_task where batch_id = #{batchId}
    </delete>

    <delete id="deleteCcCallTaskByBatchIds" parameterType="String">
        delete from cc_call_task where batch_id in 
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </delete>

</mapper>