<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.aicall.mapper.CcCallPhoneMapper">
    
    <resultMap type="CcCallPhone" id="CcCallPhoneResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="telephone"    column="telephone"    />
        <result property="createtime"    column="createtime"    />
        <result property="callstatus"    column="callstatus"    />
        <result property="calloutTime"    column="callout_time"    />
        <result property="callcount"    column="callcount"    />
        <result property="callEndTime"    column="call_end_time"    />
        <result property="timeLen"    column="time_len"    />
        <result property="validTimeLen"    column="valid_time_len"    />
        <result property="uuid"    column="uuid"    />
        <result property="uuidRobot"    column="uuid_robot"    />
        <result property="connectedTime"    column="connected_time"    />
        <result property="hangupCause"    column="hangup_cause"    />
        <result property="queueTime"    column="queue_time"    />
        <result property="answeredTime"    column="answered_time"    />
        <result property="dialogue"    column="dialogue"    />
        <result property="wavfile"    column="wavfile"    />
        <result property="recordServerUrl"    column="record_server_url"    />
        <result property="bizJson"    column="biz_json"    />
        <result property="ringingFileFlag"    column="ringing_file_flag"    />
        <result property="ringingWavFile"    column="ringing_wav_file"    />
        <result property="ringingFileProcessed"    column="ringing_file_processed"    />
        <result property="asrProduct"    column="asr_product"    />
        <result property="whoHangup"    column="who_hangup"    />
        <result property="dialogueCount"    column="dialogue_count"    />
        <result property="gatewayId"    column="gateway_id"    />
        <result property="voiceCode"    column="voice_code"    />
        <result property="voiceSource"    column="voice_source"    />
        <result property="recordPath"    column="record_path"    />
    </resultMap>

    <sql id="selectCcCallPhoneVo">
        select id, group_id, batch_id, telephone, createtime, callstatus, callout_time, callcount, call_end_time, time_len, valid_time_len, uuid, uuid_robot, connected_time, hangup_cause, queue_time, answered_time, dialogue, wavfile, record_server_url, biz_json, ringing_file_flag, ringing_wav_file, ringing_file_processed, asr_product, who_hangup, dialogue_count, gateway_id, voice_code, voice_source, record_path from cc_call_phone
    </sql>

    <select id="selectCcCallPhoneList" parameterType="CcCallPhone" resultMap="CcCallPhoneResult">
        <include refid="selectCcCallPhoneVo"/>
        <where>  
            <if test="groupId != null  and groupId != ''"> and group_id = #{groupId}</if>
            <if test="batchId != null "> and batch_id = #{batchId}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="callstatus != null "> and callstatus = #{callstatus}</if>
            <if test="params.calloutTimeStart != null and params.calloutTimeStart != ''"><!-- 开始时间检索 -->
                AND callout_time &gt;= #{params.calloutTimeStart}
            </if>
            <if test="params.calloutTimeEnd != null and params.calloutTimeEnd != ''"><!-- 结束时间检索 -->
                AND callout_time &lt;= #{params.calloutTimeEnd}
            </if>
            <if test="params.callEndTimeStart != null and params.callEndTimeStart != ''"><!-- 开始时间检索 -->
                AND call_end_time &gt;= #{params.callEndTimeStart}
            </if>
            <if test="params.callEndTimeEnd != null and params.callEndTimeEnd != ''"><!-- 结束时间检索 -->
                AND call_end_time &lt;= #{params.callEndTimeEnd}
            </if>
            <if test="params.timeLenStart != null and params.timeLenStart != ''"><!-- 开始时间检索 -->
                AND time_len &gt;= #{params.timeLenStart}
            </if>
            <if test="params.timeLenEnd != null and params.timeLenEnd != ''"><!-- 结束时间检索 -->
                AND time_len &lt;= #{params.timeLenEnd}
            </if>
            <if test="params.connectedTimeStart != null and params.connectedTimeStart != ''"><!-- 开始时间检索 -->
                AND connected_time &gt;= #{params.connectedTimeStart}
            </if>
            <if test="params.connectedTimeEnd != null and params.connectedTimeEnd != ''"><!-- 结束时间检索 -->
                AND connected_time &lt;= #{connectedTimeEnd}
            </if>
            <if test="params.answeredTimeStart != null and params.answeredTimeStart != ''"><!-- 开始时间检索 -->
                AND answered_time &gt;= #{params.answeredTimeStart}
            </if>
            <if test="params.answeredTimeEnd != null and params.answeredTimeEnd != ''"><!-- 结束时间检索 -->
                AND answered_time &lt;= #{params.answeredTimeEnd}
            </if>
            <if test="whoHangup != null "> and who_hangup = #{whoHangup}</if>
            <if test="gatewayId != null "> and gateway_id = #{gatewayId}</if>
            <if test="voiceCode != null  and voiceCode != ''"> and voice_code = #{voiceCode}</if>
        </where>
    </select>
    
    <select id="selectCcCallPhoneById" parameterType="String" resultMap="CcCallPhoneResult">
        <include refid="selectCcCallPhoneVo"/>
        where id = #{id}
    </select>

    <insert id="insertCcCallPhone" parameterType="CcCallPhone">
        insert into cc_call_phone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="telephone != null and telephone != ''">telephone,</if>
            <if test="createtime != null">createtime,</if>
            <if test="callstatus != null">callstatus,</if>
            <if test="calloutTime != null">callout_time,</if>
            <if test="callcount != null">callcount,</if>
            <if test="callEndTime != null">call_end_time,</if>
            <if test="timeLen != null">time_len,</if>
            <if test="validTimeLen != null">valid_time_len,</if>
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="uuidRobot != null and uuidRobot != ''">uuid_robot,</if>
            <if test="connectedTime != null">connected_time,</if>
            <if test="hangupCause != null and hangupCause != ''">hangup_cause,</if>
            <if test="queueTime != null">queue_time,</if>
            <if test="answeredTime != null">answered_time,</if>
            <if test="dialogue != null">dialogue,</if>
            <if test="wavfile != null and wavfile != ''">wavfile,</if>
            <if test="recordServerUrl != null and recordServerUrl != ''">record_server_url,</if>
            <if test="bizJson != null and bizJson != ''">biz_json,</if>
            <if test="ringingFileFlag != null">ringing_file_flag,</if>
            <if test="ringingWavFile != null and ringingWavFile != ''">ringing_wav_file,</if>
            <if test="ringingFileProcessed != null">ringing_file_processed,</if>
            <if test="asrProduct != null">asr_product,</if>
            <if test="whoHangup != null">who_hangup,</if>
            <if test="dialogueCount != null">dialogue_count,</if>
            <if test="gatewayId != null">gateway_id,</if>
            <if test="voiceCode != null">voice_code,</if>
            <if test="voiceSource != null">voice_source,</if>
            <if test="recordPath != null">record_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="telephone != null and telephone != ''">#{telephone},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="callstatus != null">#{callstatus},</if>
            <if test="calloutTime != null">#{calloutTime},</if>
            <if test="callcount != null">#{callcount},</if>
            <if test="callEndTime != null">#{callEndTime},</if>
            <if test="timeLen != null">#{timeLen},</if>
            <if test="validTimeLen != null">#{validTimeLen},</if>
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="uuidRobot != null and uuidRobot != ''">#{uuidRobot},</if>
            <if test="connectedTime != null">#{connectedTime},</if>
            <if test="hangupCause != null and hangupCause != ''">#{hangupCause},</if>
            <if test="queueTime != null">#{queueTime},</if>
            <if test="answeredTime != null">#{answeredTime},</if>
            <if test="dialogue != null">#{dialogue},</if>
            <if test="wavfile != null and wavfile != ''">#{wavfile},</if>
            <if test="recordServerUrl != null and recordServerUrl != ''">#{recordServerUrl},</if>
            <if test="bizJson != null and bizJson != ''">#{bizJson},</if>
            <if test="ringingFileFlag != null">#{ringingFileFlag},</if>
            <if test="ringingWavFile != null and ringingWavFile != ''">#{ringingWavFile},</if>
            <if test="ringingFileProcessed != null">#{ringingFileProcessed},</if>
            <if test="asrProduct != null">#{asrProduct},</if>
            <if test="whoHangup != null">#{whoHangup},</if>
            <if test="dialogueCount != null">#{dialogueCount},</if>
            <if test="gatewayId != null">#{gatewayId},</if>
            <if test="voiceCode != null">#{voiceCode},</if>
            <if test="voiceSource != null">#{voiceSource},</if>
            <if test="recordPath != null">#{recordPath},</if>
         </trim>
    </insert>

    <update id="updateCcCallPhone" parameterType="CcCallPhone">
        update cc_call_phone
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="telephone != null and telephone != ''">telephone = #{telephone},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="callstatus != null">callstatus = #{callstatus},</if>
            <if test="calloutTime != null">callout_time = #{calloutTime},</if>
            <if test="callcount != null">callcount = #{callcount},</if>
            <if test="callEndTime != null">call_end_time = #{callEndTime},</if>
            <if test="timeLen != null">time_len = #{timeLen},</if>
            <if test="validTimeLen != null">valid_time_len = #{validTimeLen},</if>
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="uuidRobot != null and uuidRobot != ''">uuid_robot = #{uuidRobot},</if>
            <if test="connectedTime != null">connected_time = #{connectedTime},</if>
            <if test="hangupCause != null and hangupCause != ''">hangup_cause = #{hangupCause},</if>
            <if test="queueTime != null">queue_time = #{queueTime},</if>
            <if test="answeredTime != null">answered_time = #{answeredTime},</if>
            <if test="dialogue != null">dialogue = #{dialogue},</if>
            <if test="wavfile != null and wavfile != ''">wavfile = #{wavfile},</if>
            <if test="recordServerUrl != null and recordServerUrl != ''">record_server_url = #{recordServerUrl},</if>
            <if test="bizJson != null and bizJson != ''">biz_json = #{bizJson},</if>
            <if test="ringingFileFlag != null">ringing_file_flag = #{ringingFileFlag},</if>
            <if test="ringingWavFile != null and ringingWavFile != ''">ringing_wav_file = #{ringingWavFile},</if>
            <if test="ringingFileProcessed != null">ringing_file_processed = #{ringingFileProcessed},</if>
            <if test="asrProduct != null">asr_product = #{asrProduct},</if>
            <if test="whoHangup != null">who_hangup = #{whoHangup},</if>
            <if test="dialogueCount != null">dialogue_count = #{dialogueCount},</if>
            <if test="gatewayId != null">gateway_id = #{gatewayId},</if>
            <if test="voiceCode != null">voice_code = #{voiceCode},</if>
            <if test="voiceSource != null">voice_source = #{voiceSource},</if>
            <if test="recordPath != null">record_path = #{recordPath},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCcCallPhoneById" parameterType="String">
        delete from cc_call_phone where id = #{id}
    </delete>

    <delete id="deleteCcCallPhoneByIds" parameterType="String">
        delete from cc_call_phone where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="statByBatchId" parameterType="Long" resultType="com.ruoyi.aicall.model.CallTaskStatModel">
        SELECT batch_id AS batchId,
               COUNT(1) AS phoneCount,
               SUM(CASE WHEN callout_time > 0 THEN 1 ELSE 0 END) AS callCount,
               SUM(CASE WHEN answered_time > 0 THEN 1 ELSE 0 END) AS connectCount
        FROM cc_call_phone
        WHERE batch_id = #{batchId}
    </select>

    <insert id="batchInsertCcCallPhone" parameterType="java.util.List">
        INSERT INTO cc_call_phone (
        id, group_id, batch_id, telephone, createtime, callstatus,
        callout_time, callcount, call_end_time, time_len, valid_time_len,
        uuid, uuid_robot, connected_time, hangup_cause, queue_time,
        answered_time, dialogue, wavfile, record_server_url, biz_json,
        ringing_file_flag, ringing_wav_file, ringing_file_processed,
        asr_product, who_hangup, dialogue_count, gateway_id,
        voice_code, voice_source, record_path
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}, #{item.groupId}, #{item.batchId}, #{item.telephone},
            #{item.createtime}, #{item.callstatus}, #{item.calloutTime},
            #{item.callcount}, #{item.callEndTime}, #{item.timeLen},
            #{item.validTimeLen}, #{item.uuid}, #{item.uuidRobot},
            #{item.connectedTime}, #{item.hangupCause}, #{item.queueTime},
            #{item.answeredTime}, #{item.dialogue}, #{item.wavfile},
            #{item.recordServerUrl}, #{item.bizJson}, #{item.ringingFileFlag},
            #{item.ringingWavFile}, #{item.ringingFileProcessed},
            #{item.asrProduct}, #{item.whoHangup}, #{item.dialogueCount},
            #{item.gatewayId}, #{item.voiceCode}, #{item.voiceSource},
            #{item.recordPath}
            )
        </foreach>
    </insert>
</mapper>